<!DOCTYPE html>
<html>
<head>
<title>Animal Kingdom Zoo | Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header"> <a href="#" id="logo"><img src="images/logo-page.jpg" alt=""/></a>
    <ul id="links">
      <li class="first">
        <h2><a href="live.html">Живи</a></h2>
        <span>Повеселись при визите</span> </li>
      <li>
        <h2><a href="#">Люби</a></h2>
        <span>Пожертвуй для животных</span> </li>
      <li>
        <h2><a href="#">Учись</a></h2>
        <span>Узнай о животных</span> </li>
    </ul>
    <a href="#" id="button">Купить билеты</a>
    <ul id="navigation">
      <li id="link1"><a href="index.html">Главная</a></li>
      <li id="link2"><a href="zoo.html">Зоопарк</a></li>
      <li id="link3"><a href="info.html">Информация</a></li>
      <li id="link4"><a href="tickets.html">Билеты</a></li>
      <li id="link5"><a href="events.html">События</a></li>
      <li id="link6"><a href="gallery.html">Галерея</a></li>
      <li id="link7"><a href="contact.html">Свяжитесь с нами</a></li>
    </ul>
  </div>
  <div id="content">
    <div>
      <h1>Блог</h1>
      <h4>Зоопарки пополняют коллекции, восстанавливая вымирающие виды.</h4>
      <span>Николай М. Январь 2,2021</span>
      <p>Когда слышишь про лошадь Пржевальского, представляешь табун крепких лошадок с гривами-ирокезами. Но именно табунов лошадей Пржевальского не видели больше полувека. В этом виноваты суровые зимы, охота и сокращение диких земель. К 1970 году всего 12 особей осталось в зоопарках.</p>
      <p>Обнаружив проблему, зоопарки запустили проекты по их разведению. В конце девяностых в мире было уже 1,5 тысячи лошадей и животных начали выпускать в дикую природу.</p>
      <p>Современные зоопарки никогда не работают только ради содержания животных. Одна из главных задач и один из способов пополнения коллекции — разведение животных.</p>
      <p>Важно не просто сохранить животных, но и сделать так, чтобы они давали потомство, а это непросто. Когда к леопарду из Московского зоопарка привезли трех самок, думали, что будет потомство у всех. С первой он подружился — приносил ей игрушки, делился едой, но… не хотел с ней спариваться. Самку постарше возненавидел. И только третью выбрал в качестве пары.</p>
      <p>Зоопарк похож на санаторий. Каждое утро сотрудники осматривают животных: кто как ходит, ест, ведет себя. При подозрении на недомогание звонят ветврачам. Поэтому животные живут в вольерах в 2–3 раза дольше, чем в дикой природе.</p>
    </div>
    <div id="blog">
      <h4><a href="#">Зоопарки обмениваются потомством животных</a></h4>
      <span>Николай M. Январь 21,2021</span>
      <p>В зоопарках часто рождаются детеныши, и их отдают в другие зоопарки, но иногда это невозможно. Например, многие хотят получить белого медвежонка, но не любой так же радостно примет енота..</p>
      <h4><a href="#">Травмированных животных из дикой природы тоже выхаживают в зоопарках</a></h4>
      <span>Николай M. Февраль 1,2021</span>
      <p>За каждым животным стоит история спасения: сегодняшний зоопарк — это санаторий-приют для сохранения жизней. Здесь давным-давно уже не стоит задач вроде «наловите и доставьте жирафов из Африки».</p>
      <h4><a href="#">Кто превращает клетки в леса и саванны</a></h4>
      <span>Николай M. Март 5,2021</span>
      <p>Ближе всего к питомцам киперы — рабочие по уходу за животными. Их задача — сделать жизнь животных комфортнее. Например, в вольерах медведей киперы поставили снежную пушку, а в бассейны запустили карпов, чтобы было интереснее.</p>
    </div>
    <div class="featured">
      <h2>Познакомтесь с нашими животными</h2>
      <ul>
        <li class="first"> <a href="#"><img src="images/penguin.jpg" alt=""/></a> <a href="#">Пингвин</a> </li>
        <li> <a href="#"><img src="images/elephant.jpg" alt=""/></a> <a href="#">Слон</a> </li>
        <li> <a href="#"><img src="images/owl.jpg" alt=""/></a> <a href="#">Сова</a> </li>
        <li> <a href="#"><img src="images/butterfly.jpg" alt=""/></a> <a href="#">Бабочка</a> </li>
        <li> <a href="#"><img src="images/turtle.jpg" alt=""/></a> <a href="#">Черепаха</a> </li>
        <li> <a href="#"><img src="images/snake.jpg" alt=""/></a> <a href="#">Змея</a> </li>
        <li> <a href="#"><img src="images/gorilla.jpg" alt=""/></a> <a href="#">Горилла</a> </li>
        <li class="last"> <a href="#"><img src="images/button-view-gallery2.jpg" alt=""/></a> <a href="#">Галерея</a> </li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div> <a href="#" class="logo"><img src="images/animal-kingdom.jpg" alt=""/></a>
      <div>
        <p>Свяжитесь с нами по этому телефону</p>
        <span>888-888-888 / 4346 9273 999</span> <span>email@animalkingdomzoo.com</span> </div>
      <ul class="navigation">
        <li><a href="index.html">Главная</a></li>
        <li><a href="tickets.html">Билеты</a></li>
        <li><a href="zoo.html">Зоопарк</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="gallery.html">Галерея</a></li>
      </ul>
      <ul>
        <li><a href="#">Живи : Повеселитесь при визите</a></li>
        <li><a href="#">Люби : Пожертвования для животных</a></li>
        <li><a href="#">Учись : Узнай о животных</a></li>
      </ul>
      <p>Copyright &copy; <a href="#">Domain </a> - All Rights Reserved | Template By Someone</a></p>
    </div>
  </div>
</div>
</body>
</html>
