<!DOCTYPE html>
<html>
<head>
<title>Animal Kingdom Zoo | Events</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header"> <a href="#" id="logo"><img src="images/logo-page.jpg" alt=""/></a>
    <ul id="links">
      <li class="first">
        <h2><a href="live.html">Живи</a></h2>
        <span>Повеселись при визите</span> </li>
      <li>
        <h2><a href="#">Люби</a></h2>
        <span>Пожертвуй для животных</span> </li>
      <li>
        <h2><a href="#">Учись</a></h2>
        <span>Узнай о животных</span> </li>
    </ul>
    <a href="#" id="button">Купить билеты</a>
    <ul id="navigation">
      <li id="link1"><a href="index.html">Главная</a></li>
      <li id="link2"><a href="zoo.html">Зоопарк</a></li>
      <li id="link3"><a href="info.html">Информация</a></li>
      <li id="link4"><a href="tickets.html">Билеты</a></li>
      <li id="link5" class="selected"><a href="events.html">События</a></li>
      <li id="link6"><a href="gallery.html">Галерея</a></li>
      <li id="link7"><a href="contact.html">Связь с нами</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="events">
      <h1>Мероприятия</h1>
      <ul>
        <li>
          <div><a href="#"><img src="images/event-lion.jpg" alt=""/></a></div>
          <h4><a href="#">Семейство львов.</a></h4>
          <p>Дата: Июнь 1 - 30 2021</p>
          <p>Вы погрузитесь в мир дикого сафари а ваши дети познакомиться с семьей Короля Льва.</p>
        </li>
        <li>
          <div><a href="#"><img src="images/event-dolphin.jpg" alt=""/></a></div>
          <h4><a href="#">Наше представление дельфинов</a></h4>
          <p>Дата : Февраль 1 - 30 2021</p>
          <p>В нашем зоопарке проходят представления прекрасных дельфинов приходите увидеть.</p>
        </li>
        <li>
          <div><a href="#"><img src="images/event-gorilla.jpg" alt=""/></a></div>
          <h4><a href="#">Семейство горилл.</a></h4>
          <p>Дата : Февраль 1 - 30 2021</p>
          <p>Приходите познакомиться с нашими веселыми гориллами.</p>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <div> <a href="#" class="logo"><img src="images/animal-kingdom.jpg" alt=""/></a>
      <div>
        <p>Свяжитесь с нами по этому телефону</p>
        <span>888-888-888 / 4346 9273 999</span> <span>email@animalkingdomzoo.com</span> </div>
      <ul class="navigation">
        <li><a href="index.html">Главная</a></li>
        <li><a href="tickets.html">Билеты</a></li>
        <li><a href="zoo.html">Зоопарк</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="gallery.html">Галерея</a></li>
      </ul>
      <ul>
        <li><a href="#">Живи : Повеселитесь при визите</a></li>
        <li><a href="#">Люби : Пожертвования для животных</a></li>
        <li><a href="#">Учись : Узнай о животных</a></li>
      </ul>
      <p>Copyright &copy; <a href="#">Domain</a> - All Rights Reserved | Template By Someone</p>
    </div>
  </div>
</div>
</body>
</html>
