<!DOCTYPE html>
<html>
<head>
<title>Animal Kingdom Zoo</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header"> <a href="#" id="logo"><img src="images/logo.jpg" alt=""/></a>
    <ul>
      <li class="first">
        <h2><a href="live.html">Живи</a></h2>
        <span>Повеселись при визите</span> </li>
      <li>
        <h2><a href="#">Люби</a></h2>
        <span>Пожертвуй для животных</span> </li>
      <li>
        <h2><a href="#">Учись</a></h2>
        <span>Узнай о животных</span> </li>
    </ul>
    <a href="#">Купить билеты</a>
    <ul id="navigation">
      <li id="link1" class="selected"><a href="index.html">Главная</a></li>
      <li id="link2"><a href="zoo.html">Зоопарк</a></li>
      <li id="link3"><a href="info.html">Информация для посетителей</a></li>
      <li id="link4"><a href="tickets.html">Билеты</a></li>
      <li id="link5"><a href="events.html">События</a></li>
      <li id="link6"><a href="gallery.html">Галерея</a></li>
      <li id="link7"><a href="contact.html">Свяжитесь с нами</a></li>
    </ul>
    <img src="images/lion-family.jpg" alt=""/>
    <div>
      <h1>Спец событие:</h1>
      <p>В честь день рождения скидки</p>
    </div>
  </div>
  <div id="content">
    <div id="featured">
      <h2>Познакомтесь с нашими животными</h2>
      <ul>
        <li class="first"> <a href="#"><img src="images/penguin.jpg" alt=""/></a> <a href="#">Пингвин</a> </li>
        <li> <a href="#"><img src="images/elephant.jpg" alt=""/></a> <a href="#">Слон</a> </li>
        <li> <a href="#"><img src="images/owl.jpg" alt=""/></a> <a href="#">Сова</a> </li>
        <li> <a href="#"><img src="images/butterfly.jpg" alt=""/></a> <a href="#">Бабочка</a> </li>
        <li> <a href="#"><img src="images/turtle.jpg" alt=""/></a> <a href="#">Черепаха</a> </li>
        <li> <a href="#"><img src="images/snake.jpg" alt=""/></a> <a href="#">Змея</a> </li>
        <li> <a href="#"><img src="images/gorilla.jpg" alt=""/></a> <a href="#">Горилла</a> </li>
        <li class="last"> <a href="#"><img src="images/button-view-gallery.jpg" alt=""/></a> <a href="gallery.html">Галерея</a> </li>
      </ul>
    </div>
    <div class="section1">
      <h2>События</h2>
      <ul id="article">
        <li class="first"> <a href="#"><span>Июнь 17</span></a>
          <p>Появились новые виды бабочек.</p>
        </li>
        <li> <a href="#"><span>Июль 23</span></a>
          <p>День рождение зоопарка приходите за подарками.</p>
        </li>
        <li> <a href="#"><span>Август 01</span></a>
          <p>День рождение нашей гориллы приходите порадовать ее.</p>
        </li>
      </ul>
    </div>
    <div class="section2">
      <h2>Блог : Участники чата</h2>
      <p>Некоторые интересные новости о животных.</p>
      <a href="#"><img src="images/dolphins.jpg" alt=""/></a>
      <ul>
        <li>
          <p>Это дельфины</p>
        </li>
        <li>
          <p>Они недвано прибыли к нам.</p>
        </li>
        <li>
          <p>Заходите их повидать,</p>
        </li>
        <li>
          <p>на их выступление.</p>
        </li>
        <li>
          <p>Им очень это понравится.</p>
        </li>
      </ul>
      <div id="section1">
        <ul>
          <li> <a href="#"><img src="images/gorilla-2.jpg" alt=""/></a>
            <h4><a href="#">Это наша горилла</a></h4>
            <p>Она вас ждет в нашем зоопарке</p>
          </li>
          <li> <a href="#"><img src="images/snake-2.jpg" alt=""/></a>
            <h4><a href="#">Это наша змейка</a></h4>
            <p>Прижодите увидеть ее и других</p>
          </li>
        </ul>
      </div>
      <div id="section2">
        <ul>
          <li> <a href="#"><img src="images/butterfly-2.jpg" alt=""/></a>
            <h4><a href="#">Это наша бабочка</a></h4>
            <p>Приходите увидеть ее и остальных.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section3">
      <h2>Связь</h2>
      <a href="#" id="email">Email</a> <a href="#" id="facebook">Facebook</a> <a href="#" id="twitter">Twitter</a>
      <form action="#">
        <h3>Подписывайтесь на нашу</h3>
        <h2>Рассылку</h2>
        <input type="text" value="..." onBlur="this.value=!this.value?'your email here...':this.value;" onFocus="this.select()" onClick="this.value='';" />
      </form>
      <img src="images/penguin2.jpg" alt=""/> </div>
  </div>
  <div id="footer">
    <div> <a href="#" class="logo"><img src="images/animal-kingdom.jpg" alt=""/></a>
      <div>
        <p>Свяжитесь с нами по этому телефону</p>
        <span>888-888-888 / 4346 9273 999</span> <span>email@animalkingdomzoo.com</span> </div>
      <ul class="navigation">
        <li><a href="index.html">Главная</a></li>
        <li><a href="tickets.html">Билеты</a></li>
        <li><a href="zoo.html">В зоопарк</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="gallery.html">Галерея</a></li>
      </ul>
      <ul>
        <li><a href="#">Живи : Повеселитесь при визите</a></li>
        <li><a href="#">Люби : Пожертвования для животных</a></li>
        <li><a href="#">Учись : Узнай о животных</a></li>
      </ul>
      <p>Copyright &copy; <a href="#">Domain</a> - All Rights Reserved | Template By someone</p>
    </div>
  </div>
</div>
</body>
</html>
