<!DOCTYPE html>
<html>
<head>
<title>Animal Kingdom Zoo | Live</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="page">
  <div id="header"> <a href="#" id="logo"><img src="images/logo-page.jpg" alt=""/></a>
    <ul id="links">
      <li class="first">
        <h2><a href="live.html">Живи</a></h2>
        <span>Повеселись при визите</span> </li>
      <li>
        <h2><a href="#">Люби</a></h2>
        <span>Пожертвуй для животных</span> </li>
      <li>
        <h2><a href="#">Учись</a></h2>
        <span>Узнай о животных</span> </li>
    </ul>
    <a href="#" id="button">Купить билеты</a>
    <ul id="navigation">
      <li id="link1"><a href="index.html">Главная</a></li>
      <li id="link2"><a href="zoo.html">Зоопарк</a></li>
      <li id="link3"><a href="info.html">Инфоррмация</a></li>
      <li id="link4"><a href="tickets.html">Билеты</a></li>
      <li id="link5"><a href="events.html">События</a></li>
      <li id="link6"><a href="gallery.html">Галерея</a></li>
      <li id="link7"><a href="contact.html">Свяжитесь с нами</a></li>
    </ul>
  </div>
  <div id="content">
    <div id="live">
      <h1>Живи</h1>
      <p>Придя к нам повеселитесь от души среди обитателей нашего зоопарка.</p>
      <h1>Люби</h1>
      <p>Если есть желание помоги и порадуй наших животных небольшим пожертвованием.</p>
      <h1>Учись</h1>
      <p>Узнай что нибудь новое об обитателях нашего большого зоопарка.</p>
    </div>
  </div>
  <div id="footer">
    <div> <a href="#" class="logo"><img src="images/animal-kingdom.jpg" alt=""/></a>
      <div>
        <p>Свяжитесь с нами по этому телефону</p>
        <span>888-888-888 / 4346 9273 999</span> <span>email@animalkingdomzoo.com</span> </div>
      <ul class="navigation">
        <li><a href="index.html">Главная</a></li>
        <li><a href="tickets.html">Билеты</a></li>
        <li><a href="zoo.html">Зоопарк</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="blog.html">Блог</a></li>
        <li><a href="gallery.html">Галерея</a></li>
      </ul>
      <ul>
        <li><a href="#">Живи : Повеселитесь при визите</a></li>
        <li><a href="#">Люби : Пожертвования для животных</a></li>
        <li><a href="#">Учись : Узнай о животных</a></li>
      </ul>
      <p>Copyright &copy; <a href="#">Domain</a> - All Rights Reserved | Template By Someone</a></p>
    </div>
  </div>
</div>
</body>
</html>
